#AllBooks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  list-style: none;
}


body{
  background-color: pink;
}

img{
  width: 100%;
  height: auto;
}

.nav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 17px;
}

.nav {
  background-color: #333;
  overflow: hidden;
}
